{% extends 'basesimple.html' %}
{% block mycss %}
    div {
        text-align:center;
    }

    a {
        border : 1px black;
        box-shadow : 3px 3px 3px grey;
    }
{% endblock %}


{% block mycontent %}
    <h1 style ="text-align:center"> 원하는 상품을 클릭해주세요!!</h1>
    <hr>
    <div>
    <a href="http://localhost:8000/workapp/basket1/?pid=p001"><img src="/static/images/1.jpg" width="150"></img></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p002"><img src="/static/images/2.jpg" width="150"></img></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p003"><img src="/static/images/3.jpg" width="150"></img></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p004"><img src="/static/images/4.jpg" width="150"></img></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p005"><img src="/static/images/5.jpg" width="150"></img></a>

    <br>

    <a href="http://localhost:8000/workapp/basket1/?pid=p006"><img src="/static/images/6.jpg" width="150"></img></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p007"><img src="/static/images/7.jpg" width="150"></img></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p008"><img src="/static/images/8.jpg" width="150"></img></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p009"><img src="/static/images/9.jpg" width="150"></img></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p010"><img src="/static/images/10.jpg" width="150"></img></a>
    </div>

    {% endblock %}

